//blocks
.customgreenblock {
    -webkit-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    background-color: @customgreen !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customgreen !important;
        .component-title-inner {
            color: #fff;
        }
    }
}

.customblueblock {
    -webkit-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    background-color: @customblue !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customblue !important;
        .component-title-inner {
            color: #fff;
        }
    }
}

.customredblock {
    -webkit-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    background-color: @customred !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customred !important;
        .component-title-inner {
            color: #fff;
        }
    }
}

.customgreyblock {
    -webkit-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    background-color: @customgrey !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customgrey !important;
        .component-title-inner {
            color: #fff;
        }
    }
}

.customdarkoneblock {
    -webkit-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    background-color: @customdarkone !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customdarkone !important;
        .component-title-inner {
            color: #fff;
        }
    }
}

.customdarktwoblock {
    -webkit-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    background-color: @customdarktwo !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customdarktwo !important;
        .component-title-inner {
            color: #fff;
        }
    }
}

//components

.customgreen {
    background-color: @customgreen !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customgreen !important;
        .component-title-inner {
            color: #fff;
        }
    }
}

.customblue {
    background-color: @customblue !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customblue !important;
        .component-title-inner {
            color: #fff;
        }
    }
}

.customred {
    background-color: @customred !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customred !important;
        .component-title-inner {
            color: #fff;
        }
    }
}

.customgrey {
    background-color: @customgrey !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customgrey !important;
        .component-title-inner {
            color: #fff;
        }
    }
}

.customdarkone {
    background-color: @customdarkone !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customdarkone !important;
        .component-title-inner {
            color: #fff;
        }
    }
}

.customdarktwo {
    background-color: @customdarktwo !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customdarktwo !important;
        .component-title-inner {
            color: #fff;
        }
    }
}














//menuitem classes
.menu-item-co-05 {
    -webkit-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    width: 100%;
    background-color: @customgreen !important;
    .menu-item-inner {
        background-color: @customgreen !important;
    }
}

.menu-item-co-10 {
    -webkit-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    width: 100%;
    background-color: @customblue !important;
    .menu-item-inner {
        background-color: @customblue !important;
    }
}

.menu-item-co-15 {
    -webkit-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    -moz-box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    box-shadow: inset 0px -12px 23px -9px rgba(0, 0, 0, 0.44);
    width: 100%;
    background-color: @customred !important;
    .menu-item-inner {
        background-color: @customred !important;
    }
}
