.customgreen {
    background-color: @customgreen !important;
    .component-inner{
        background-color: @customgreen !important; 
    }
}

.customblue {
    background-color: @customblue !important;
    .component-inner{
        background-color:  @customblue !important; 
    }
}

.customred {
    background-color: @customred !important;
    .component-inner{
        background-color: @customred !important; 
    }
}

.customgrey {
    background-color: @customgrey !important;
    .component-inner{
        background-color: @customgrey !important; 
    }
}

.customdarkone {
   background-color: @customdarkone !important; 
    .component-inner{
        background-color: @customdarkone !important; 
    }
}

.customdarktwo {
   background-color: @customdarktwo !important; 
    .component-inner{
        background-color:  @customdarktwo !important; 
    }
}

