.customgreen {
    background-color: @customgreen !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customgreen !important;
        .component-title-inner{
            color: #fff; 
        }
    }
}

.customblue {
    background-color: @customblue !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customblue !important;
        .component-title-inner{
            color: #fff; 
        }
    }
}

.customred {
    background-color: @customred !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customred !important;
        .component-title-inner{
            color: #fff; 
        }
    }
}

.customgrey {
    background-color: @customgrey !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customgrey !important;
        .component-title-inner{
            color: #fff; 
        }
    }
}

.customdarkone {
    background-color: @customdarkone !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customdarkone !important;
        .component-title-inner{
            color: #fff; 
        }
    }
}

.customdarktwo {
    background-color: @customdarktwo !important;
    color: #fff;
    font-weight: 500;
    .component-inner {
        background-color: @customdarktwo !important;
        .component-title-inner{
            color: #fff; 
        }
    }
}
